# Django Settings
SECRET_KEY=your-production-secret-key-here
DEBUG=False
DATABASE_URL=postgres://user:password@host:port/database_name
ALLOWED_HOSTS=localhost,127.0.0.1,meeting-reservation-elnh.onrender.com

# CORS Configuration (Required if frontend is on a different domain)
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=https://meeting-room-reservation-krd6.vercel.app

# CSRF Configuration
CSRF_TRUSTED_ORIGINS=https://meeting-room-reservation-krd6.vercel.app


# HTTPS Security Settings (Set to True if running behind HTTPS proxy/load balancer)
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

